.btn {
    background-color: #ffe353;
    border: none;
    color: black;
    font-size: 15px;
    padding: 10px 20px;
}
.card-progress
{
    position: absolute;
    top:90%;
    left: 5%;
}
.pointer{
    cursor: pointer;
    font-size: 25px;
}
.page-link{
    cursor: pointer;
}